@charset "utf-8";

html, body {
  background-color: #FAFAFA;
}

.split55 {
  display: flex;
  width: 100%;
}
.split55 > * {
  display: block;
  flex-grow: 1;
}

.tagify {
  background-color: #FFFFFF;
}
#id_title {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
  line-height: 1.5em;
  font-size: 14pt;
}
#editor {
  width: 100%;
  height: 24em;
  font-size: 12pt;
}
#preview_container {
  border: 1px solid gray;
  width: 100%;
}

.hljs-ln-numbers {
  padding-right: .75em !important;
  text-align: right;
}

img {
  max-width: 100%;
}
