<!DOCTYPE html>
<meta charset="utf-8">

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.6.2/dist/tagify.min.js"
  integrity="sha256-GBfayPA8awRvBoKio+wrr3TA0ohdxL3uN3WDrm/qHps="
  crossorigin="anonymous"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.6.2/dist/tagify.css"
  integrity="sha256-D4sj7s9Zj8YOMK3ZZvWUHiOlpZjor2835krg+X3f5HU="
  crossorigin="anonymous">
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"
  integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E="
  crossorigin="anonymous"></script>

<link rel="stylesheet"
  href="/static/css/style.css">

<title>Rindo</title>

<form id="entry_form" method="POST" enctype="multipart/form-data"></form>

<p>
  <input id="id_title" name="title" form="entry_form" value="{% if entry.title %}{{ entry.title }}{% endif %}" required placeholder="Title">

<p>
  <input id="id_tags" name="tags" form="entry_form" value="{% if entry.tags %}{{ entry.tags_json() }}{% endif %}" placeholder="Tags (ex. A, B, C)">

<input id="id_status" name="status" form="entry_form" type="hidden" value="{{ entry.status }}">
<input id="id_body" name="body" form="entry_form" type="hidden" value="{{ entry.body }}">

<div class="split55">
  <div id="editor">{% if entry.body %}{{ entry.body }}{% endif %}</div>
  <iframe id="preview_container"></iframe>
</div>

<p>
  <button id="btn_draft" type="submit" form="entry_form">
{% if not entry or entry.is_draft() %}
    Save as draft
{% else %}
    Back to draft
{% endif %}
  </button>
  <button id="btn_publish" type="submit" form="entry_form">
    {% if not entry or entry.is_draft() %}
      Publish
    {% else %}
      Update
    {% endif %}
  </button>

<script>
  var tags = $('#id_tags');
  new Tagify(tags[0]);

  var previewContainer = $('#preview_container')[0];
  previewContainer.src = '/admin/entry/preview/{{ entry.uid }}';
</script>

<script>
  var DRAFT = 1;
  var PUBLISHED = 2;

  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/github");
  editor.session.setMode("ace/mode/markdown");

  $('#btn_draft').on('click', function() {
    $('#id_status').val(DRAFT);
  });
  $('#btn_publish').on('click', function() {
    $('#id_status').val(PUBLISHED);
  });
  $('#entry_form').on('submit', function() {
    $('#id_body').val(editor.getValue());
  });

</script>
